{% extends "elpgng/header.html" %}

{% block content %}
<p>
  ELPG is a liquefied petroleum gas (LPG) trading and marketing company aiming to create an extensive retail distribution network. With our operational efficiency, proven marketing strategy and solid capital base; we are confident we can meet your domestic, business and industrial LPG needs. We are a customer driven organisation with service at the centre of all that we do. Drawing from our years of experience in providing a reliable supply of LPG, with superior service and renowned customer care we are able to offer unrivalled expertise in the LPG market.
</p>
{% include "elpgng/includes/htmlsnippet.html" %}
{% endblock %}
